PORT=5000
NODE_ENV=development

MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_refresh_jwt_secret
COOKIE_SECRET=your_cookie_secret

CLIENT_URL=http://localhost:5173

AI_SERVICE_URL=http://localhost:5000
AI_SECRET_KEY=your_ai_secret_key

# Default Admin (Development Only)
DEFAULT_ADMIN_NAME=your_admin_name
DEFAULT_ADMIN_EMAIL=your_admin_email@example.com
DEFAULT_ADMIN_PASSWORD=your_admin_password